<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="discount" class="com.nt.replacer.DiscountBillAmount"></bean>
  <bean id="shop" class="com.nt.comps.Shopping">
  <replaced-method name="billAmount" replacer="discount">
  <arg-type>int</arg-type>
  <arg-type>int</arg-type>
  <arg-type>int</arg-type>
  <arg-type>int</arg-type>
  </replaced-method></bean>
  
  
  </beans>